@font-face {
    font-family: Triforce;
    src: url(Triforce.ttf);
}
@font-face {
    font-family: NES;
    src: url(Pixel_NES.otf);
}
@font-face {
    font-family: Arcade;
    src: url(ARCADECLASSIC.TTF);
}
@font-face {
    font-family: Cursive;
    src: url(Precious.ttf);
}
@font-face {
    font-family: Mother3;
    src: url(Mother3.ttf);
}
.link {
    display:inline-block;
    width:12%;
    font-weight:bold;
    font-size:24px;
}
body {
    background-color: #2E5CE6;
}
#navbar {
   height:26px;
   background-color:red;
   border-radius:5px;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
    border-radius:25px;
}
h1 {
    color:white;
    text-align:center;
}
#title {
    height:2em;
}
.titleImg {
    height:100%;
    /*margin-right:2%;
    margin-left:2%;*/
}
li {
    display:inline;
}
p {
    color:white;
    font-size:1.2em;
}
.date {
    font-size:12px;
    margin-left:75%;
}
#AtATitle {
    color:white;
    text-align:center;
    font-family:NES;
}
#aboutTheAuthor {
    border-top:3px dashed white;
    border-bottom:3px dashed white;
    width:80%;
    min-height: 100px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
}
#AtAName {
    width:160px;
    height:100px;
    border:0px solid red;
    display:inline-block;
}
#AtANameTextXander {
    color:#165014;
    font-weight:normal;
    font-family:Triforce;
    text-align:center;
}
#AtANameTextGreg {
    color:white;
    font-weight:normal;
    font-family:Arcade;
    text-align:center;
}
#AtANameTextChloe {
    color:pink;
    font-weight:normal;
    font-family:Cursive;
    text-align:center;
}
#AtANameTextNick {
    color:blue;
    font-weight:normal;
    font-family:Mother3;
    text-align:center;
}
#AtASocialMedia {
    width:74%;
    height:100px;
    float:right;
    display:inline-block;
}
#links {
    margin-left:55%;
    width:45%;
}
.socialMediaImgDiv {
    width:14.74%;
    display:inline-block;
}
.socialMediaImg {
    width:100%;
}
#AtAPicture {
    height:160px;
    display:inline-block;
}
#AtAPictureImg {
    width:160px;
}
#AtADescription {
    width:74%;
    float:right;
    display:inline-block;
}
#AtADescriptionTextXander {
    margin-left:0%;
    margin-right:0%;
    margin-top:-5px;
    font-size:1.5em;
    font-family:Gregorian, Sans;
}
#AtADescriptionTextGreg {
    margin-left:0%;
    margin-right:0%;
    margin-top:-10px;
    font-size:1.5em;
    font-family:Arcade;
}
#AtADescriptionTextChloe {
    margin-left:0%;
    margin-right:0%;
    margin-top:-5px;
    font-size:1.5em;
    font-family:Gregorian, Sans;
}
#AtADescriptionTextNick {
    margin-left:0%;
    margin-right:0%;
    margin-top:-5px;
    font-size:1.5em;
    font-family:Gregorian, Sans;
}
.ad {
    margin-left:auto;
    margin-right:auto;
    width:728px;
}
#marioLink:hover {
    color:d82800;
}
#zeldaLink:hover {
    color:80d010;
}
#metroidLink:hover {
    color:ffa947;
}
#kirbyLink:hover {
    color:ffb0cf;
}
#starFoxLink:hover {
    color:d0e0d0;
}
#donkeyKongLink:hover {
    color:602b1d;
}
#banjoKazooieLink:hover {
    color:ffeb5d;
}
#superSmashBrosLink:hover {
    color:5712a9;
}
#pikminLink:hover {
    color:56b0e5;
}
#guestArticlesLink:hover {
    color:db2ca3;
}
#otherLink:hover {
    color:f3c39f;
}
/*#navImg1 {
    content:url(images/mushroom.png);
    background-image:url(images/marioBeatsBowser.gif);
    background-size:100% 100%;
}
#navImg2 {
    content:url(images/powerStar.png);
    background-image:url(images/starGrab.gif);
    background-size:100% 100%;
}
#navImg3 {
    content:url(images/masterSword.png);
    background-image:url(images/masterSword.gif);
    background-size:100% 100%;
}
#navImg4 {
    content:url(images/triforce.png);
    background-image:url(images/Triforce.gif);
    background-size:100% 100%;
}
#navImg5 {
    content:url(images/samusShip.png);
    background-image:url(images/samusAppears.gif);
    background-size:100% 100%;
}
#navImg6 {
    content:url(images/metroids.png);
    background-image:url(images/goldenStatues.gif);
    background-size:100% 100%;
}
#navImg7 {
    content:url(images/sparklingStars.png);
    background-image:url(images/kirbyDance.gif);
    background-size:100% 100%;
}
#navImg8 {
    content:url(images/waddleDee.png);
    background-image:url(images/ultraSword.gif);
    background-size:100% 100%;
}
#navImg9 {
    content:url(images/andross.png);
}
#navImg10 {
    content:url(images/arwing.png);
    background-image:url(images/arwing.gif);
    background-size:100% 100%;
}
#navImg11 {
    content:url(images/DKbarrel.jpg);
    background-image:url(images/crankyPhonograph.gif);
    background-size:100% 100%;
}
#navImg12 {
    content:url(images/kingKRool.jpg);
    background-image:url(images/kingKRool.gif);
    background-size:100% 100%;
}
#navImg13 {
    content:url(images/yoshis.png);
    background-image:url(images/yoshis.gif);
    background-size:100% 100%;
}
#navImg14 {
    content:url(images/yoshiEgg.jpg);
    background-image:url(images/yoshiEggs.gif);
    background-size:100% 100%;
}
#navImg15 {
    content:url(images/jinjo.jpeg);
    background-image:url(images/banjoKazooieTitle.gif);
    background-size:100% 100%;
}
#navImg16 {
    content:url(images/jiggy.png);
    background-image:url(images/jiggyGrab.gif);
    background-size:100% 100%;
}
#navImg17 {
    content:url(images/smashBall.jpg);
    background-image:url(images/smash.gif);
    background-size:100% 100%;
}
#navImg18 {
    content:url(images/masterHand.jpg);
    background-image:url(images/masterHand.gif);
    background-size:100% 100%;
}
#navImg19 {
    content:url(images/redPikmin.jpg);
}
#navImg20 {
    content:url(images/redBulborb.jpg);
    background-image:url(images/bulborb.gif);
    background-size:100% 100%;
}
#navImg21 {
    content:url(images/bellBag.jpg);
}
#navImg22 {
    content:url(images/bellBag.jpg);
    background-image:url(images/KKSlider.gif);
    background-size:100% 100%;
}
#navImg23 {
    content:url(images/greenSquid.png);
    background-image:url(images/splatoon.gif);
    background-size:100% 100%;
}
#navImg24 {
    content:url(images/squidSisters.jpg);
    background-image:url(images/stayFresh.gif);
    background-size:100% 100%;
}*/
/*#navImg1:hover {
    content:url(images/marioBeatsBowser.gif);
}
#navImg2:hover {
    content:url(images/starGrab.gif);
}
#navImg3:hover {
    content:url(images/masterSword.gif);
}
#navImg4:hover {
    content:url(images/Triforce.gif);
}
#navImg5:hover {
    content:url(images/samusAppears.gif);
}
#navImg6:hover {
    content:url(images/goldenStatues.gif);
}
#navImg7:hover {
    content:url(images/kirbyDance.gif);
}
#navImg8:hover {
    content:url(images/ultraSword.gif);
}
#navImg10:hover {
    content:url(images/arwing.gif);
}
#navImg11:hover {
    content:url(images/crankyPhonograph.gif);
}
#navImg12:hover {
    content:url(images/kingKRool.gif);
}
#navImg13:hover {
    content:url(images/yoshis.gif);
}
#navImg14:hover {
    content:url(images/yoshiEggs.gif);
}
#navImg15:hover {
    content:url(images/banjoKazooieTitle.gif);
}
#navImg16:hover {
    content:url(images/jiggyGrab.gif);
}
#navImg17:hover {
    content:url(images/smash.gif);
}
#navImg18:hover {
    content:url(images/masterHand.gif);
}
#navImg20:hover {
    content:url(images/bulborb.gif);
}
#navImg22:hover {
    content:url(images/KKSlider.gif);
}
#navImg23:hover {
    content:url(images/splatoon.gif);
}
#navImg24:hover {
    content:url(images/stayFresh.gif);
}*/