.link {
    display:inline-block;
    width:12%;
    font-size:24px;
}
body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
    margin-left:15%;
    margin-right:15%;
}
a {
    text-decoration:none;
}
.art {
    border:3px dashed white;
    border-style:dashed none none none;
    width:100%;
    display:inline-block;
    margin-bottom:25px;
}
.articlepdiv {
    width:69%;
    display:inline-block;
    float:left;
    height:225px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.artp {
    font-size:1.2em;
    text-align:center;
}
.artimgdiv {
    display:inline-block;
    width:80%;
    margin-left:10%;
}
.artimg {
    width:100%;
}
.nextPages {
    margin-left:10%;
    margin-right:10%;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
}
.title {
    text-align:center;
    color:white;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
.nextPage {
    font-size:2em;
}