.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    height:1850px;
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
}
.p {
    margin-left:10%;
    margin-right:10%;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#SamusShip {
    width:3.5%;
}
#KONGletters {
    width:8%;
}
#title {
    text-align:center;
    color:white;
}
div {
    display:block;
}
#FFPimg {
    height:240px;
    width:325px;
    margin-left:3.5%;
}
.FFP {
    margin-left:3.5%;
}
#ocarinaSongs {
    width:5%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
.table {
    margin-left:10%;
    width:80%;
}
.code {
    width:12.5%;
}
.HTG {
    width:50%;
}
.use {
    width:37%;
}
table {
    border:2px solid gold;
}
td {
    border:2px solid gold;
}
