.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
    font-size:150%;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#title {
    text-align:center;
    color:white;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
#Follow {
    display:inline;
}
#subscribe {
    display:inline;
}
#google+ {
    display:inline;
}