@font-face {
    font-family: Triforce;
    src: url(Triforce.ttf);
}
@font-face {
    font-family: NES;
    src: url(Pixel_NES.otf);
}
@font-face {
    font-family: Arcade;
    src: url(ARCADECLASSIC.TTF);
}
.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
    opacity:0.95;
}
p {
    color:white;
    font-size:1.2em;
    margin-left:15%;
    margin-right:15%;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
.title {
    text-align:center;
    color:white;
}
h2 {
    text-align:center;
    color:white;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:70%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
#Twitter {
    display:inline;
    margin-left:15%;
}
#G+ {
    display:inline;
}
.ad {
    margin-left:auto;
    margin-right:auto;
    width:728px;
}
.twitterhandle {
    font-size:1.3em;
    text-decoration:none;
}
#AtATitle {
    color:white;
    text-align:center;
    font-family:NES;
}
#aboutTheAuthor {
    border-top:3px dashed white;
    border-bottom:3px dashed white;
    width:80%;
    min-height: 100px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
}
#AtAName {
    width:160px;
    height:100px;
    border:0px solid red;
    display:inline-block;
}
#AtANameText {
    color:white;
    font-weight:normal;
    font-family:Arcade;
    text-align:center;
}
#AtASocialMedia {
    width:74%;
    height:100px;
    float:right;
    display:inline-block;
}
#links {
    margin-left:69%;
    width:31%;
}
.socialMediaImgDiv {
    width:23%;
    display:inline-block;
}
.socialMediaImg {
    width:100%;
}
#AtAPicture {
    height:160px;
    display:inline-block;
}
#AtAPictureImg {
    width:160px;
}
#AtADescription {
    width:74%;
    float:right;
    display:inline-block;
}
#AtADescriptionText {
    margin-left:0%;
    margin-right:0%;
    margin-top:-10px;
    font-size:1.5em;
    font-family:Arcade;
}