html { 
  background: url(images/marioLevel1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main {
    height:2200px;
    margin-left:8%;
    margin-right:8%;
    margin-top:0%
    margin-bottom:0%;
    background-color:black;
    opacity:0.95;
}
p {
    color:white;
}
#navbar {
   height:1%;
   background-color: red;
}
li {
    display:inline;
}
.img {
    margin:0px 0px 0px 0px;
    height:100%;
    width:3%;
}
.non-img {
    margin-right:5%;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#SamusShip {
    width:3.5%;
}
#KONGletters {
    width:8%;
}
#title {
    text-align:center;
    color:white;
}
#img1 {
    height:263px;
    width:468px;
}
#img2 {
    height:263px;
    width:468px;
}
#img3 {
    height:263px;
    width:468px;
}
#img4 {
    height:263px;
    width:468px;
}
#img5 {
    height:368px;
    width:468px;
}
#img6 {
    height:273px;
    width:486px;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
