.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
    text-align:center;
    font-size:1.2em;
}
#specialP {
    margin-left:10%;
    margin-right:10%;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#title {
    text-align:center;
    color:white;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:70%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
#Twitter {
    display:inline;
    margin-left:15%;
}
#G+ {
    display:inline;
}
.ad {
    margin-left:auto;
    margin-right:auto;
    width:728px;
}
#video {
    width:560px;
    margin-left:auto;
    margin-right:auto;
}
#noUnderline {
    text-decoration:none;
}