body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-38px;
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
    text-align:center;
    font-size:2em;
}
#present {
    width:250px;
    margin-left:auto;
    margin-right:auto;
}
.presentImg:active {
    content: url("images/present3.jpg");
    content:url("images/starGrab.gif");
}