.link {
    display:inline-block;
    width:12%;
    font-weight:bold;
    font-size:24px;
}
a {
    color:white;
    text-decoration:none;
}
body {
    background-color: #2E5CE6;
}
#main {
    height:1000px;
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
h1 {
    color:white;
}
p {
    color:white;
    font-family:"Comic Sans MS", sans-serif;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
.title {
    text-align:center;
}
#about {
    display:block;
    border:1px solid red;
}
#poll {
    float:right;    
    display:inline-block;
}
h2 {
    margin-left:10px;
}
#WN {
    display:inline-block;
    background-color:red;
    margin-left:3%;
    width:370px;
}
#WNimg {
    margin-left:10px;
    width:350px;
}
.date {
    margin-left:10px;
    font-size:12px;
}
.aboutlink {
    margin-right:15px;
    font-size:20px;
    font-weight:bold;
}
#ftimg {
    width:420px;
    height:260px;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
#WNp {
    text-align:center;
    font-size:14px;
}
#aboutp1 {
    color:#00FF00;
    text-align:center;
}
#aboutp2 {
    color:#FF8533;
    text-align:center;
}
#Follow {
    display:inline;
}
#subscribe {
    display:inline;
}
#google+ {
    display:inline;
}
#links {
    display:inline-block;
    margin-left:50%;
}
#TitleP {
    font-size:16px;
}
#marioLink:hover {
    color:d82800;
}
#zeldaLink:hover {
    color:80d010;
}
#metroidLink:hover {
    color:ffa947;
}
#kirbyLink:hover {
    color:ffb0cf;
}
#starFoxLink:hover {
    color:d0e0d0;
}
#donkeyKongLink:hover {
    color:602b1d;
}
#banjoKazooieLink:hover {
    color:ffeb5d;
}
#superSmashBrosLink:hover {
    color:5712a9;
}
#pikminLink:hover {
    color:56b0e5;
}
#guestArticlesLink:hover {
    color:db2ca3;
}
#otherLink:hover {
    color:f3c39f;
}