.link {
    display:inline-block;
    width:12%;
    font-weight:bold;
    font-size:24px;
}
a {
    color:white;
    text-decoration:none;
}
body {
    background-color: #2E5CE6;
}
#main {
    height:1000px;
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
h1 {
    color:white;
}
p {
    color:white;
    font-family:"Comic Sans MS", sans-serif;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
.title {
    text-align:center;
}
#about {
    display:block;
    border:1px solid red;
}
#poll {
    float:right;    
    display:inline-block;
}
h2 {
    margin-left:10px;
}
#WN {
    display:inline-block;
    background-color:red;
    margin-left:3%;
    width:361px;
}
#WNimg {
    margin-left:10px;
}
.date {
    margin-left:10px;
    font-size:12px;
}
.aboutlink {
    margin-right:15px;
    font-size:20px;
    font-weight:bold;
}
#ftimg {
    width:420px;
    height:260px;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
#WNp {
    margin-left:10px;
    msrgin-right:10px;
    font-size:14px;
}
#aboutp1 {
    color:#00FF00;
}
#aboutp2 {
    color:#FF8533;
}
#Follow {
    display:inline;
}
#subscribe {
    display:inline;
}
#google+ {
    display:inline;
}
#links {
    display:inline-block;
    margin-left:55%;
}