body {
    background-color:white;
}
#main {
    height:750px;
    margin-left:100px;
    margin-right:100px;
    background-color:black;
}
p {
    color:white;
}
#navbar {
   height: 25px;
   background-color: red;
}
li {
    display:inline;
}
img {
    margin:0px 0px 0px 0px;
    height:25px;
    width:25px;
}
.non-img {
    margin-right:100px;
}
a {
    color:white;
    font-weight:bold;
}
