a {
    color:white;
    text-decoration:none;
}
#main {
    height:1000px;
    border-radius:25px;
}
#title {
    height:2em;
}
.titleImg {
    height:100%;
}
p {
    color:white;
    font-size:1.2em;
}
#navbar {
   height:26px;
   background-color:red;
   border-radius:5px;
}
.title {
    text-align:center;
}
#about {
    display:block;
    border:1px solid red;
}
#poll {
    float:right;    
    display:inline-block;
}
h2 {
    margin-left:10px;
}
#WN {
    display:inline-block;
    background-color:red;
    margin-left:3%;
    width:370px;
    border-radius:10px;
}
#WNimg {
    margin-left:10px;
    width:350px;
}
.date {
    margin-left:10px;
    font-size:12px;
}
.aboutlink {
    margin-right:15px;
    font-size:20px;
    font-weight:bold;
}
#ftimg {
    width:420px;
    height:260px;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
#links {
    margin-left:75%;
    width:25%;
}
.socialMediaImgDiv {
    width:14.74%;
    display:inline-block;
}
.socialMediaImg {
    width:100%;
}
#WNp {
    text-align:center;
    font-size:1.1em;
}
#aboutp1 {
    color:#00FF00;
    text-align:center;
    font-family:"Comic Sans MS", sans-serif;
}
#aboutp2 {
    color:#FF8533;
    text-align:center;
    font-family:"Comic Sans MS", sans-serif;
}
#TitleP {
    font-size:16px;
}
.tdDiv {
    width:100%;
    height:100%;
}
.imgTD {
    width:10%;
}
.titleTD {
    width:25%;
}
.descriptionTD {
    width:65%;
}
.imgInTD {
    width:100%;
}
.pInTD {
    text-align:center;
    font-size:1.3em;
}
.h1InTD {
    text-align:center;
}
td {
    border:1px solid red;
}
table {
    background-color:black;
}