.link {
    display:inline-block;
    width:13%;
}
body {
    background-color: #2E5CE6;
}
#main {
    height:1350px;
    margin-left:8%;
    margin-right:8%;
    margin-top:0%
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#SamusShip {
    width:3.5%;
}
#KONGletters {
    width:8%;
}
.article {
    display:inline;
    margin-left:3.5%;
}
#KAimg {
    height:350px;
    width:256px;
    margin-top:1%;
}
#title {
    text-align:center;
    color:white;
}
#MOASimg {
    height:167px;
    width:228px;
}
div {
    display:block;
}
#ZPimg {
    height:366px;
    width:333px;
}
#ocarinaSongs {
    width:5%;
}
#DKCimg {
    width:429px;
    height:300px;
}
