.link {
    display:inline-block;
    width:12%;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
body {
    background-color: #2E5CE6;
}
h1 {
    color:white;
    text-align:center;
}
p {
    color:white;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
#SPimg1 {
    height:256;
    width:224;
    opacity:2;
}
#SPimg2{
    height:160;
    width:240;
    opacity:2;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}

#imgBackground1 {
    background-color:black;
    display:inline;
    height:256px;
    width:224px;
    opacity:2;
}
#imgBackground2 {
    background-color:black;
    display:inline;
    height:160px;
    width:240px;
    opacity:2;
}
#comments {
    background-color:#99FF33;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:70%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
#Twitter {
    display:inline;
    margin-left:3.25%;
}
#G+ {
    display:inline;
}
.rightimg {
    width:100%;
}
.ad {
    margin-left:auto;
    margin-right:auto;
    width:728px;
}