html { 
  background: url(images/marioLevel1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main {
    height:600px;
    margin-left:8%;
    margin-right:8%;
    margin-top:0%
    margin-bottom:0%;
    background-color:black;
    opacity:0.9;
}
h1 {
    color:white;
    text-align:center;
}
p {
    color:white;
}
#navbar {
   height:4%;
   background-color: red;
}
li {
    display:inline;
}
.img {
    margin:0px 0px 0px 0px;
    height:100%;
    width:3%;
    display:inline;
}
#SPimg1 {
    height:256;
    width:224;
    opacity:2;
}
#SPimg2{
    height:160;
    width:240;
    opacity:2;
}
.non-img {
    margin-right:5%;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#SamusShip {
    width:3.5%;
}
#KONGletters {
    width:8%;
}
#imgBackground1 {
    background-color:black;
    display:inline;
    height:256px;
    width:224px;
    opacity:2;
}
#imgBackground2 {
    background-color:black;
    display:inline;
    height:160px;
    width:240px;
    opacity:2;
}

