.link {
    display:inline-block;
    width:13%;
}
body {
    background-color: #2E5CE6;
}
#main {
    height:750px;
    margin-left:8%;
    margin-right:8%;
    margin-top:0%
    margin-bottom:0%;
    background-color:black;
}
h1 {
    color:white;
}
p {
    color:white;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#SamusShip {
    width:3.5%;
}
#KONGletters {
    width:8%;
}
#title {
    text-align:center;
}
#ocarinaSongs {
    width:5%;
}
