html { 
  background: url(images/ocarinaOfTimePause.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main {
    height:750px;
    margin-left:8%;
    margin-right:8%;
    margin-top:0%
    margin-bottom:0%;
    background-color:black;
    opacity:0.8;
}
h1 {
    color:white;
}
p {
    color:white;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
.img {
    margin:0px 0px 0px 0px;
    height:100%;
    width:3%;
}
.non-img {
    margin-right:2.5%;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#SamusShip {
    width:3.5%;
}
#KONGletters {
    width:8%;
}
#title {
    text-align:center;
}
#ocarinaSongs {
    width:5%;
}
