.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
}
pre {
    margin-top:20px;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
.article {
    display:inline;
}
#title {
    text-align:center;
    color:white;
}
div {
    display:block;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}x;
}
.nextPage {
    color:blue;
    margin-top:25px;
}
