.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
h1 {
    color:white;
    text-align:center;
}
p {
    color:white;
    margin-left:15%;
    margin-right:15%;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
h4 {
    color:white;
}
.caption {
    font-size:12px;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:70%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
input {
    margin-left:15%;
}
button {
    margin-left:15%;
}
#Twitter {
    display:inline;
    margin-left:3.25%;
}
#G+ {
    display:inline;
}