.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    height:2300px;
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
#navbar {
   height:26px;
   background-color: red;
}
p {
    color:white;
    margin-left:15%;
    margin-right:15%;
}
.caption {
    font-size:12px;
    margin-left:15%;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
.title {
    text-align:center;
    color:white;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:70%;
    margin-right:0%;
}
table {
    color:white;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
#Twitter {
    display:inline;
    margin-left:15%;
}
#G+ {
    display:inline;
}
.articleimg {
    margin-left:15%;
}
#twitterHandle {
    text-decoration:none;
    font-size:21px;
}