.link {
    display:inline-block;
    width:12%;
}
html { 
  background: url(images/kirbyEnding.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main {
    height:600px;
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
    opacity:0.9;
}
p {
    color:white;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
.img {
    margin:0px 0px 0px 0px;
    height:100%;
    width:3%;
}
.non-img {
    margin-right:2%;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#SamusShip {
    width:3.5%;
}
#KONGletters {
    width:8%;
}
#title {
    text-align:center;
    color:white;
}
#ocarinaSongs {
    width:5%;
}
#screenshot {
    height:350px;
    width:600px;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:90%;
}
#plink {
    font-size:18px;
}
#video {
    margin-left:15%;
    margin-right:15%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
