.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    height:1600px;
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
.article {
    display:inline;
    margin-left:3.5%;
    margin-top:15px;
    margin-bottom:15px;
}
#title {
    text-align:center;
    color:white;
}
#MOASimg {
    height:167px;
    width:228px;
}
div {
    display:block;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
#SSBF3Gimg {
    width:300px;
    height:175px;
}
