.link {
    display:inline-block;
    width:13%;
}
body {
    background-color: #2E5CE6;
}
#main {
    height:5800px;
    margin-left:8%;
    margin-right:8%;
    margin-top:0%
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
    margin-left:15%;
    margin-right:15%;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#SamusShip {
    width:3.5%;
}
#KONGletters {
    width:8%;
}
h1 {
    color:white;
}
#title {
    text-align:center;
}
#ocarinaSongs {
    width:5%;
}
#screenshot {
    height:350px;
    width:600px;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:80%;
}
#plink {
    font-size:18px;
}
.video {
    margin-left:15%;
    margin-right:15%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
.number {
    margin-left:15%;
    margin-right:15%;
}
#spvideo {
    margin-top:10px;
}
