.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
    margin-left:15%;
    margin-right:15%;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
h1 {
    color:orange;
}
#title {
    text-align:center;
    color:green;
}
#screenshot {
    height:350px;
    width:600px;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:75%;
}
#plink {
    font-size:18px;
}
.video {
    margin-left:15%;
    margin-right:15%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
.number {
    margin-left:15%;
    margin-right:15%;
}
#spvideo {
    margin-top:10px;
}
#Twitter {
    display:inline;
    margin-left:3.25%;
}
#G+ {
    display:inline;
}
.ad {
    margin-left:auto;
    margin-right:auto;
    width:728px;
}