.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    height:1850px;
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
p {
    color:white;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#KAimg {
    height:350px;
    width:256px;
    margin-top:1%;
}
#title {
    text-align:center;
    color:white;
}
#DKCTFimg {
    height:350px;
    width:256px;
}
.DKCTF {
    margin-left:3.5%;
    display:inline;
}
div {
    display:block;
}
#td1 {
    padding-top:300px;
    border:25px solid black;
}
#FFPimg {
    height:240px;
    width:325px;
}
#td2 {
    padding-top:250px;
    border:25px solid black;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}

