.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
}
#navbar {
   height:26px;
   background-color: red;
}
p {
    color:white;
    margin-left:10%;
    margin-right:10%;
}
.caption {
    font-size:12px;
    margin-left:10%;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#title {
    text-align:center;
    color:white;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:75%;
    mrgin-right:0%;
}
table {
    color:white;
}
#img1 {
    width:429px;
    height:300px;
    margin-left:10%;
}
#img2 {
    width:300px;
    height:256px;
    margin-left:10%;
}
#img3 {
    margin-left:10%;
    margin-right:10%;
}
#img4 {
    margin-left:10%;
    margin-right:10%;    
}
.tdimg {
   width:125px;
   height:155px; 
}
table {
    margin-left:10%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
#Twitter {
    display:inline;
    margin-left:3.25%;
}
#G+ {
    display:inline;
}
.ad {
    margin-left:auto;
    margin-right:auto;
    width:728px;
}