.link {
    display:inline-block;
    width:12%;
}
body {
    background-color: #2E5CE6;
}
#main {
    margin-left:8%;
    margin-right:8%;
    margin-top:-21px;
    margin-bottom:0%;
    background-color:black;
    opacity:0.95;
}
p {
    color:white;
    font-size:1.2em;
    margin-left:15%;
    margin-right:15%;
}
.articleimg {
    width:50%;
    margin-left:25%;
}
#navbar {
   height:26px;
   background-color: red;
}
li {
    display:inline;
}
a {
    color:white;
    font-weight:bold;
    font-size:24px;
}
#title {
    text-align:center;
    color:white;
}
h3 {
    text-align:center;
    color:white;
}
#comments {
    background-color:#99FF33;
    opacity:0.9;
    margin-left:8%;
    margin-right:8%;   
}
.date {
    font-size:12px;
    margin-left:75%;
}
#left {
    float:left;
    width:8%;
}
#right {
    float:right;
    width:8%;
}
.leftimg {
    width:100%;
}
.rightimg {
    width:100%;
}
.imgdiv {
    margin-left:auto;
    margin-right:auto;
}
#rupee {
    width:24px;
}
#ZELDAmaps {
    width:370px;
}
#polsVoice {
    width:256px;
}
#Twitter {
    display:inline;
    margin-left:15%;
}
#G+ {
    display:inline;
}
.ad {
    margin-left:auto;
    margin-right:auto;
    width:728px;
}